.container {
    width: 320px;
    height: 320px;
    margin: auto;
    margin-top: 100px;
  }
  
  .container h1 {
    text-align: center;
    font-size: 50px;
  }
  
  .row {
    height: 100px;
  }
  
  .col {
    height: 100px;
    width: 100px;
    float: left;
    font-size: 100px;
    text-align: center;
    line-height: 100px;
  }
  
  .col:hover {
    background-color: lightgray;
  }
  
  .border-b {
    border-bottom: 10px solid black;
  }
  
  .border-r {
    border-right: 10px solid black;
  }

  .winner {
    color: blue;
  }